<!DOCTYPE html>
<html>
  <head>
    <title>Wonder Words Game</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      .hidden {
        display: none;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script>
      var socket = io.connect("http://localhost:5000");
      // -> Better add global value
      // Connect
      socket.on("connect", function (data) {
        console.log("Connected to the server");
      });

      // Register Name
      function registerName() {
        var playerName = document.getElementById("playerNameInput").value;
        socket.emit("register_name", { name: playerName });
        document.getElementById("playerNameInput").value = "";
        updatePlayerName(playerName);
      }

      // Update PlayerName
      function updatePlayerName(playerName) {
        var playerNameElement = document.getElementById("playerName");
        playerNameElement.textContent = playerName;
      }

      // Timer
      socket.on("start_timer", function (data) {
        console.log("Timer starting...");
        document.getElementById("name-registration").classList.add("hidden");
        document.getElementById("game-content").classList.add("hidden");
        document.getElementById("timer-message").classList.remove("hidden");

        var remainingTime = 5;

        var countdownInterval = setInterval(function () {
          if (remainingTime > 0) {
            console.log("Remaining Time:", remainingTime);
            document.getElementById("timer-message").textContent =
              "Time Remaining: " + remainingTime + " seconds";
            remainingTime--;
          } else {
            console.log("Timer finished. Game starting...");
            clearInterval(countdownInterval);
            document.getElementById("timer-message").classList.add("hidden");
            document.getElementById("game-content").classList.remove("hidden");
            updateGameState(data.players_data);
            updateScore(0);
            updatePlayersList(data.players_data.player_names);
            updateTurn(data.players_data);
          }
        }, 1000);
      });

      // Update playerList
      socket.on("update_ready_players", function (data) {
        console.log("Received players update:", data);
        updateStartPlayersList(data.player_names);
      });

      // Update turn
      function updateTurn(data) {
        var turnElement = document.getElementById("turn");
        var remainingTime = 10;
        turnElement.textContent =
          "Turn: " +
          (data.turn + 1) +
          " - " +
          data.order[0] +
          " (Time Remaining: " +
          remainingTime +
          " seconds)";

        console.log("Correct", data.order[0].includes(playerName), playerName);
        var playerName = document.getElementById("playerName").textContent;

        if (data.order[0].includes(playerName)) {
          console.log(playerName);
          document.getElementById("guess-input").disabled = false;
          document.getElementById("guess-button").disabled = false;
          // Check if it's the current player's turn
          var countdownInterval = setInterval(function () {
            remainingTime--;
            turnElement.textContent =
              "Turn: " +
              (data.turn + 1) +
              " - " +
              data.order[0] +
              " (Time Remaining: " +
              remainingTime +
              " seconds)";

            if (remainingTime === 0) {
              clearInterval(countdownInterval);
              alert("Time out! Next player!");

              // Move the next index of data.order to index 0
              var nextPlayer = data.order.shift();
              data.order.push(nextPlayer);
              updateTurn(data); // Should be a registration order emit back
              // Refresh if receive again function.
            }
          }, 1000);
        } else {
          document.getElementById("guess-input").disabled = true;
          document.getElementById("guess-button").disabled = true;
          updateGameState(data);
        }
      }

      // Ready check
      function ready() {
        socket.emit("ready");
      }

      // Not Turn Alert
      socket.on("not_turn", function () {
        console.log("It's not your turn to guess!");
        alert("It's not your turn to guess!");
      });

      // Update data
      socket.on("update", function (data) {
        console.log("Received update:", data);
        updateGameState(data);
        updateTurn(data);
      });

      socket.on("update_turn", function (data) {
        console.log("Received turn update:", data);
        updateTurn(data);
      });

      socket.on("update_game_state", function (data) {
        console.log("Received update:", data);
        updateUnrevealedWord(data.unrevealed_word);
        updateDesc(data.desc);
      });

      // Update Game State
      function updateGameState(data) {
        updateUnrevealedWord(data.unrevealed_word);
        updateDesc(data.desc);
        updateScore(data.score);
      }

      function updateUnrevealedWord(unrevealedWord) {
        var wordElement = document.getElementById("word");
        wordElement.textContent = unrevealedWord;
      }

      function updateDesc(desc) {
        var descElement = document.getElementById("desc");
        descElement.textContent = desc;
      }

      function updateScore(score) {
        var scoreElement = document.getElementById("score");
        scoreElement.textContent = score;
      }

      function updateStartPlayersList(playerNames) {
        var playerListElement = document.getElementById("startPlayerList");
        playerListElement.innerHTML = "";
        playerNames.forEach(function (name) {
          var listItem = document.createElement("li");
          listItem.textContent = name;
          playerListElement.appendChild(listItem);
        });
      }

      function updatePlayersList(playerNames) {
        var playerListElement = document.getElementById("playerList");
        playerListElement.innerHTML = "";
        playerNames.forEach(function (name) {
          var listItem = document.createElement("li");
          listItem.textContent = name;
          playerListElement.appendChild(listItem);
        });
      }

      // Game Condition
      socket.on("win", function () {
        console.log("You won the game!");
        document.getElementById("game-status").textContent =
          "Congratulations! You won the game!";
        alert("Congratulations! You won the game!");

        // Hide input and button
        var input = document.getElementById("guess-input");
        var button = document.getElementById("guess-button");
        input.classList.add("hidden");
        button.classList.add("hidden");
      });

      socket.on("wrong", function () {
        document.getElementById("game-status").textContent = "Wrong Guess!";
        alert("Wrong Guess! Next Player!");
      });

      // Guess
      function sendGuess() {
        var guess = document.getElementById("guess-input").value;
        socket.emit("guess", { guess: guess });
        document.getElementById("guess-input").value = "";
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div id="name-registration">
        <h1>Wonder Words Game</h1>
        <p>Enter your name to register:</p>
        <input type="text" id="playerNameInput" />
        <button onclick="registerName()">Register</button>
        <button onclick="ready()">Ready</button>
        <p>Player Names:</p>
        <ul id="startPlayerList"></ul>
      </div>
      <p id="timer-message" class="hidden">Game will start in 10 seconds...</p>
      <div id="game-content" class="hidden">
        <h1>Wonder Words Game</h1>
        <p>Description: <span id="desc"> </span></p>
        <p>Unrevealed Word: <span id="word"></span></p>
        <p>Guess the word by entering a letter:</p>
        <input type="text" id="guess-input" />
        <button id="guess-button" onclick="sendGuess()">Guess</button>
        <p>Player Name: <span id="playerName"></span></p>
        <p>Current player Score: <span id="score"></span></p>
        <p>Player Names:</p>
        <ul id="playerList"></ul>
        <p id="game-status"></p>
        <p id="turn"></p>
      </div>
    </div>
  </body>
</html>
