<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Game</h1>
      <form id="nameForm">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required />
        <button type="submit">Start Game</button>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
      var socket = io.connect("http://localhost:5000");

      document.getElementById("nameForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const name = document.getElementById("name").value;
        if (name.trim() !== "") {
          const searchParams = new URLSearchParams(window.location.search);
          const sid = searchParams.get("sid");
          window.location.href = "/start_game?sid=" + sid + "&player_name=" + name;
        }
      });
    </script>
  </body>
</html>
